@font-face {
	font-family: 'SuperSmash';
	src: url('SuperSmash/SuperSmash.eot?#iefix') format('embedded-opentype'),  url('SuperSmash/SuperSmash.woff') format('woff'), url('SuperSmash/SuperSmash.ttf')  format('truetype'), url('SuperSmash/SuperSmash.svg#SuperSmash4.1') format('svg');
	font-weight: normal;
	font-style: normal;
}