					</div>
					<div class="col-md-4 mag-inner-right sidebar">
						<br class="visible-xs visible-sm">
						<div class="module discord">
							<div class="module-content">
								<iframe class="img-responsive" src="https://discordapp.com/widget?id=71069926382641152&theme=light"></iframe>
							</div>
						</div>
						<br>
						<div class="module social">
							{% if site.data.info.social %}
								<h4 class="side">Redes Sociais</h4>
								<ul class="list-group">
									{% for network in site.data.info.social %}
										<li class="list-group-item {{network.icon}}"><h5><a href="{{network.url}}" target="_blank"><i></i>{{network.title}}</a></h5></li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 footer-grid last-videos">
					<h4>Últimos vídeos</h4>
					{% assign all_videos = '' | split: '|' %}
					{% for section in site.data.videos.sections %}
						{% for video in section.videos %}
							{% assign all_videos = all_videos | push: video | sort: 'date' | reverse %}
						{% endfor %}
					{% endfor %}
					{% assign last_videos = '' | split: '|' %}
					{% assign count = 0 %}
					{% for video in all_videos %}
						{% assign last_video = last_video | push: video %}
						{% assign count = count | plus: 1 %}
						{% if count >= 3 %}
							{% break %}
						{% endif %}
					{% endfor %}
					{% for video in last_videos %}
						<a href="#" class="editor-pics">
							<div class="col-sm-3 col-xs-12 item-pic">
								<img src="//img.youtube.com/vi/{{ video.id }}/0.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-8 col-xs-12 item-details">
								<h5 class="inner">{{ video.title }}</h5>
								<div class="td-post-date">{{ video.date | date: "%d/%m/%Y" }}</div>
							</div>
							<div class="clearfix"></div>
							<br>
						</a>
					{% endfor %}
				</div>
				<div class="col-md-4 footer-grid hidden">
					<h4>Próximos eventos</h4>
					<div class="editor-pics">
						<div class="col-md-3 item-pic">
							<img src="//3.bp.blogspot.com/-9O72SRXHUII/VRla3vTE9yI/AAAAAAAAFP4/z6Mljrz8gUg/s1600/anime_buzz___work_number_03_by_rafeproject-d65g7n9.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-9 item-details">
							<h5 class="inner"><a href="#">Anime Buzz</a></h5>
							<div class="td-post-date">Feb 22, 2015</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="editor-pics">
						<div class="col-md-3 item-pic">
							<img src="//plannify.com/cdn/image?i=%2Fevent%2F1393723%2Fdreamfest_animes_e_games_2_edicao&r=img&d=%2F_%2Fimg%2Fno-pic-photo.png" class="img-responsive" alt=""/>

						</div>
						<div class="col-md-9 item-details">
							<h5 class="inner"><a href="#">Dreamfest</a></h5>
							<div class="td-post-date">Feb 22, 2015</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="editor-pics">
						<div class="col-md-3 item-pic">
							<img src="//fastfoodcultural.com.br/wp-content/uploads/2015/04/Anime.jpg" class="img-responsive" alt=""/>

						</div>
						<div class="col-md-9 item-details">
							<h5 class="inner"><a href="#">Animextreme</a></h5>
							<div class="td-post-date">Feb 22, 2015</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>&copy; {{site.data.info.since}}<script>new Date().getFullYear()>{{site.data.info.since}}&&document.write(" - "+new Date().getFullYear());</script> {{site.data.info.copyright}} | {{site.data.info.credits}} </p>
	</div>


	<a href="#top" id="toTop"> <span id="toTopHover"> </span></a>

	<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/scripts.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap-3.1.1.min.js"></script>
</body>
</html>