---
layout: default
---

{% for section in site.data.videos.sections %}
	<section>
		<h3 class="tittle" role="button" data-target="#{{ section.id }}" data-toggle="collapse">{{ section.name }}</h3>
		<div class="collapse" id="{{ section.id }}">
			{% for video in section.videos %}
				<div class="embed-responsive embed-responsive-16by9">
					<div class="js-lazyYT embed-responsive-item" data-youtube-id="{{ video.id }}" data-ratio="16:9" data-parameters="allowfullscreen frameborder='0'"></div>
				</div>
				<br>
			{% endfor %}
		</div>
	</section>
{% endfor %}