---
layout: compress
---
{% include header.html %}
{% assign post = page %}
<div class="row full-post">
	{% assign thumbnail_exists = false %}
	{% for file in site.static_files %}
		{% if file.path == post.image %}
			{% assign thumbnail_exists = true %}
			{% break %}
		{% endif %}
	{% endfor %}

	{% if thumbnail_exists %}
		<div class="with-thumbnail">
			<img class="img-responsive" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}"/>
	{% endif %}
		<h1 class="text-center title">
			<a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
			<br>
			<small>
				<i class="glyphicon glyphicon-calendar"></i>{{ post.date | date: "%d/%m/%Y" }}
				 -
				<i class="glyphicon glyphicon-user"></i>{{ post.author }}
			</small>
		</h1>
	{% if thumbnail_exists %}
		</div>
	{% endif %}
	<br><br>
	{{content}}
</div>
{% include footer.html %}